body { background: #13a12a; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 30px; display: flex; }
.block-validator-0 { color: #6f9fb6; font-size: 16px; margin-bottom: 5px; }
.block-cart-1 { color: #1dc3d2; font-size: 15px; margin-bottom: 5px; }
.block-router-2 { color: #cea61f; font-size: 12px; margin-bottom: 5px; }
.block-payment-3 { color: #3ecbb2; font-size: 17px; margin-bottom: 5px; }
.block-email-4 { color: #66fd9b; font-size: 21px; margin-bottom: 5px; }